* {
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
}






.fz30 {
	font-size: 30px;
}

.container {
	width: 1170px;
	margin: 0 auto;
	/*padding-left: 10px;*/
	/*padding-right: 5px;*/
}

.header {
	display: flex;
	background-color: #445161;
	color: #fff;
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 25px 0px 20px;
}

.header__text {
	max-width: 450px;
}

.header__title {
	font-size: 60px;
	padding-bottom: 40px;

}

.header__list-item {
	font-size: 20px;
}

.header__list-item:not(:last-of-type) {
	margin-bottom: 10px;
}

.header__list-item:before {
	content: url("../icons/check.svg");
	padding-right: 5px;
}

.header__img {
	width: 472px;
	height: 217px;
	border: 1px solid red;
}

.about {
	display: flex;
}

.about__wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 45px 0px 50px;
}

.about__text {
	max-width: 670px;
}

.about__title {
	font-size: 30px;
	padding-bottom: 17px;
}

.about__paragraph {
	display: flex;
	font-size: 16px;
	line-height: 24px;
	padding-bottom: 11px;
}

.about__video {
	width: 430px;
}

.dignity {
	display: flex;
	background-color: #F5F5F5;
	padding-top: 25px;
	padding-bottom: 50px;
}

.dignity__wrapper {}

.dignity__title {
	text-align: center;
	padding-bottom: 29px;
}

.dignity__list-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.dignity__list-item {
	display: flex;
	/*max-width: 550px;*/
	width: 45%;
	font-size: 16px;
}

.dignity__list-item::before {
	content: url(../icons/plus.svg);
	padding-right: 8px;
}

.dignity__list-item:nth-child(-n+4) {
	padding-bottom: 35px;
}



.screenshots {
	display: flex;
	padding-top: 25px;
	padding-bottom: 50px;
}

.screenshots__title {
	text-align: center;
	padding-bottom: 45px;
}

.screenshots__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.screenshots-item {
	display: flex;
	flex: 50%;
}

.screenshots-item:nth-child(-n+2) {
	padding-bottom: 25px;
}

.screenshots__img {
	min-width: 202px;
	height: 153px;
	/*background: #445161;*/
}

.img-item-1 {
	background: url("https://avatars.mds.yandex.net/get-zen_doc/3855260/pub_5fd46d8a64f2df18979fc92d_5fd46e7b9480ec78dc3a0a34/scale_1200") center no-repeat;
	background-size: cover;
}

.img-item-2 {
	background: url("https://cs6.livemaster.ru/storage/a1/90/08c5cdb0dbe64e2f91452c9738pq.jpg") center no-repeat;
	background-size: cover;

}

.img-item-3 {
	background: url("https://w7.pngwing.com/pngs/839/2/png-transparent-exclamation-point-art-red-font-cartoon-doodle-exclamation-mark-cartoon-character-retro-cartoons.png") center no-repeat;
	background-size: cover;
}

.img-item-4 {
	background: url("https://thumbs.dreamstime.com/z/%D0%BC%D1%83%D0%BB%D1%8C%D1%82%D0%B8%D0%BF%D0%BB%D0%B8%D0%BA%D0%B0%D1%82%D0%BE%D1%80%D0%BD%D1%8B%D0%B9-%D0%B2%D0%BE%D1%81%D0%BA%D0%BB%D0%B8%D1%86%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9-%D0%B7%D0%BD%D0%B0%D0%BA-%D0%BA%D0%B0%D1%80%D0%B8%D0%BA%D0%B0%D1%82%D1%83%D1%80%D1%8B-%D0%B8-%D0%BF%D1%83%D0%B7%D1%8B%D1%80%D1%8C-%D1%80%D0%B5%D1%87%D0%B8-%D0%B2-153179427.jpg") center no-repeat;
	background-size: cover;
}

.screenshots__info {
	padding-left: 10px;
}

.screenshots__subtitle {
	font-size: 24px;
	padding-bottom: 7px;
}

.screenshots__text {
	font-size: 16px;
	line-height: 24px;
}

.reviews {
	display: flex;
	background-color: #F5F5F5;
	padding-top: 25px;
	padding-bottom: 50px;
}

.reviews__title {
	text-align: center;
	padding-bottom: 29px;
}

.reviews__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 50px;
}

.reviews__figure {
	display: flex;
	width: 48%;
}

.reviews__figure:nth-child(-n+2) {
	padding-bottom: 22px;
}


.reviews__img {
	width: 63px;
	height: 63px;
	border-radius: 50%;
	background-color: #445161;
}

.reviews__img-info {
	background-color: #EBEBEB;
	border-radius: 5px;
	font-size: 14px;
	font-style: italic;
	margin-left: 30px;
	position: relative;
}

.triangle-reviews {
	width: 0;
	height: 0;
	border-width: 12px 20px 12px 0;
	border-color: transparent #EBEBEB transparent transparent;
	border-style: solid;
	position: absolute;
	top: 40%;
	left: -20px;
	border-style: solid;
}

.reviews__author {
	padding-top: 7px;
	font-size: 14px;
	font-style: italic;
	color: #989898;

}

.buy {
	display: flex;
	padding-bottom: 13px;
}

.buy__title {
	text-align: center;
}

.buy__wrapper {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: flex-end;
}

.buy-card {
	background: #445161;
	border: 2px solid #445161;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	padding-top: 13px;
	padding-bottom: 19px;
}

.buy__card-subtitle {
	font-size: 24px;
	align-self: center;
	color: #fff;
	padding: 0px 0 8px;
}

.buy__card-price {
	height: 71px;
	width: 100%;
	display: block;
	font-size: 40px;
	line-height: 71px;
	color: #445162;
	background-color: #fff;
	text-align: center;
}

.buy__list {
	display: flex;
	flex-direction: column;
	flex: 100%;
	padding-top: 10px;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 24px;
	list-style-type: decimal;
	padding-left: 40px;
}

.buy__card-btn {
	width: 262px;
	min-height: 43px;
	font-size: 18px;
	font-weight: 700;
	color: #445161;
	background-color: #FFFFFF;
	border: none;
	cursor: pointer;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 5px;
}

.buy__card-btn:hover {
	background-color: orange;

}

.footer {
	display: flex;
	background: #445161;
	padding-top: 25px;
	padding-bottom: 40px;

}

.footer__title {
	text-align: center;
}

.footer__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.contact-form {
	display: flex;
	flex-direction: column;
	width: 503px;
	max-width: 503px;
}

form input {
	background-color: #fff;
	padding-left: 10px;
	height: 43px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	margin-bottom: 19px;
}

form textarea {
	padding-left: 10px;
	font-size: 16px;
	resize: none;
	border-radius: 5px;

}

.form__btn-send {
	width: 143px;
	height: 43px;
	margin: 0 auto;
	font-size: 16px;
	font-weight: 700;
	line-height: 43px;
	margin-top: 18px;
	border: none;
	color: #445162;
	background-color: #fff;
	border-radius: 5px;
}

.footer__form {
	padding-left: 50px;
}

.footer__title {
	color: #FFFFFF;
}

.footer__wrapper {
	padding-top: 43px;
}

.footer__contact {
	padding-left: 50px;
}

.footer__list {
	font-size: 16px;
	line-height: 45px;
	color: #FFFFFF;
}

.list__skype::before {
	content: url('../icons/skype.svg');
	padding-right: 10px;
	vertical-align: -10%;

}

.list__icq::before {
	content: url(../icons/icq.svg);
	padding-right: 10px;
	vertical-align: -10%;
}

.list__email::before {
	content: url(../icons/email.svg);
	padding-right: 10px;
	vertical-align: -10%;
}

.list__phone::before {
	content: url(../icons/phone.svg);
	padding-right: 10px;
	vertical-align: -10%;
}

.footer__share {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 205px;
	margin-top: 44px;
}

/*FONT AFESOME*/
.fa {
	color: #445161;
	background-color: #fff;
	border-radius: 50%;
	width: 46px;
	height: 46px;
}

.fa-twitter,
.fa-vk,
.fa-google-plus,
.fa-facebook {
	padding-top: 6px;
	text-align: center;
}

/*-----------------*/
.copyright {
	display: flex;
	margin-top: 30px;
	background: #F5F5F5;
}

.copyright__title {
	padding-top: 13px;
	padding-bottom: 12px;
	text-align: center;
	font-size: 12px;
	color: #445162;
}